AlignAfterOpenBracket: true
AllowShortBlocksOnASingleLine: true
BracketAlignmentStyle: BlockIndent
BinPackArguments: false
BinPackParametersStyle: AlwaysOnePerLine
BinPackParameters: true
BreakBeforeBraces: Attach
ColumnLimit: 120
IndentWidth: 4
UseTab: Never